html, body {
    height: 100%;
}
 
.parabox {
    border: 2px solid orange;
    width: 260px;
    height: 500px;
    padding-left: 25px;
    padding-right: 30px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;   
}

p {
    margin-bottom: auto
}


body {
    background-color: lemonchiffon;
    font-family: sans-serif;
}



#maincontent {
    margin: 0; padding: 0;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
}

#navcontainer ul {
    background-color: orange;
    position: relative;
    margin 0; padding-left: ;
    display: flex;
    list-style-type: none;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

#pboxes {
    
}

form {
    text-align: center;
    padding-top: 25px;
    
}



input {
    width: 250px;
    text-align: center;
    background-color: orange;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

ul li a {
    color: antiquewhite;
    text-decoration: none;
    
}

#navcontainer {
    display: flex;

}

article {
    display: flex;
    align-items: center;
    background: orange;
    color: white  
}

nav {
    width: 100%;
    justify-content: space-between;
    background-color: orange;
}

ul li {
    padding-right: 20px;
}
div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
